phase2_Dev/src/flows/Contact_Role_Update-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Role Filtering</label>
        </rules>
    </decisions>
    <description>Contact Role Update</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Contact].FirstName &amp; &quot; &quot; &amp; [Contact].LastName</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Most_Recent_Program_Director_Licensee_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.LastName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND( NOT(ISBLANK([Contact].AccountId)),
[Contact].Account.Record_Type_Name__c = &quot;Family Child Care&quot;, ISPICKVAL([Contact].Role__c, &quot;Main Contact / Licensee&quot;)),
AND( NOT(ISBLANK([Contact].AccountId)),
[Contact].Account.Record_Type_Name__c = &quot;FCC Assistant&quot;, ISPICKVAL([Contact].Role__c, &quot;Main Contact / Assistant&quot;)),
AND(NOT(ISBLANK([Contact].AccountId)),
AND([Contact].Account.Record_Type_Name__c &lt;&gt; &quot;Family Child Care&quot;, [Contact].Account.Record_Type_Name__c &lt;&gt; &quot;FCC Assistant&quot;), ISPICKVAL([Contact].Role__c, &quot;Director&quot;))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND( NOT(ISBLANK({!myVariable_current.AccountId})),
{!myVariable_current.Account.Record_Type_Name__c} = &quot;Family Child Care&quot;, ISPICKVAL({!myVariable_current.Role__c}, &quot;Main Contact / Licensee&quot;)),
AND( NOT(ISBLANK({!myVariable_current.AccountId})),
{!myVariable_current.Account.Record_Type_Name__c} = &quot;FCC Assistant&quot;, ISPICKVAL({!myVariable_current.Role__c}, &quot;Main Contact / Assistant&quot;)),
AND(NOT(ISBLANK({!myVariable_current.AccountId})),
AND({!myVariable_current.Account.Record_Type_Name__c} &lt;&gt; &quot;Family Child Care&quot;, {!myVariable_current.Account.Record_Type_Name__c} &lt;&gt; &quot;FCC Assistant&quot;), ISPICKVAL({!myVariable_current.Role__c}, &quot;Director&quot;))
)</expression>
    </formulas>
    <interviewLabel>Contact_Role_Update-3_Contact</interviewLabel>
    <label>Contact Role Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contact].Name</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Provider Director Name</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Most Recent Program Director / Licensee</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Most_Recent_Program_Director_Licensee__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Most_Recent_Program_Director_Licensee_c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
