phase2_Dev/src/flows/Visit_Update_Next_Renewal_Visit-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Visit = Full Review</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_pmetdec</targetReference>
            </connector>
            <label>Visit = Enhanced Monitoring</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_2_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>200</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_2_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_2_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_2_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_2_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Update &quot;Next FCC Renewal Visit&quot; on Provider so system knows if it&apos;ll be a full visit or only an enhanced monitoring. Implementation of story #2725</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
ISPICKVAL([Inspection__c].Status__c , &quot;Closed&quot;),

OR(
TEXT([Inspection__c].Provider_No__c.Next_FCC_Renewal_Visit__c) = TEXT([Inspection__c].Type_of_Visit__c),
AND(
ISBLANK(TEXT([Inspection__c].Provider_No__r.Next_FCC_Renewal_Visit__c)),
CONTAINS(TEXT([Inspection__c].Type_of_Visit__c), &quot;Renewal&quot; ))
),
[Inspection__c].RecordType.Name = &quot;FCC Licensing Visit&quot;,
ISPICKVAL([Inspection__c].Type_of_Visit__c, &quot;Renewal - Full Review&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
ISPICKVAL({!myVariable_current.Status__c} , &quot;Closed&quot;),

OR(
TEXT({!myVariable_current.Provider_No__c.Next_FCC_Renewal_Visit__c}) = TEXT({!myVariable_current.Type_of_Visit__c}),
AND(
ISBLANK(TEXT({!myVariable_current.Provider_No__r.Next_FCC_Renewal_Visit__c})),
CONTAINS(TEXT({!myVariable_current.Type_of_Visit__c}), &quot;Renewal&quot; ))
),
{!myVariable_current.RecordType.Name} = &quot;FCC Licensing Visit&quot;,
ISPICKVAL({!myVariable_current.Type_of_Visit__c}, &quot;Renewal - Full Review&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
ISPICKVAL([Inspection__c].Status__c , &quot;Closed&quot;),

OR(
TEXT([Inspection__c].Provider_No__c.Next_FCC_Renewal_Visit__c) = TEXT([Inspection__c].Type_of_Visit__c),
AND(
ISBLANK(TEXT([Inspection__c].Provider_No__r.Next_FCC_Renewal_Visit__c)),
CONTAINS(TEXT([Inspection__c].Type_of_Visit__c), &quot;Renewal&quot; ))
),
[Inspection__c].RecordType.Name = &quot;FCC Licensing Visit&quot;,
ISPICKVAL([Inspection__c].Type_of_Visit__c, &quot;Renewal - Full Review&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
ISPICKVAL({!myVariable_old.Status__c} , &quot;Closed&quot;),

OR(
TEXT({!myVariable_old.Provider_No__c.Next_FCC_Renewal_Visit__c}) = TEXT({!myVariable_old.Type_of_Visit__c}),
AND(
ISBLANK(TEXT({!myVariable_old.Provider_No__r.Next_FCC_Renewal_Visit__c})),
CONTAINS(TEXT({!myVariable_old.Type_of_Visit__c}), &quot;Renewal&quot; ))
),
{!myVariable_old.RecordType.Name} = &quot;FCC Licensing Visit&quot;,
ISPICKVAL({!myVariable_old.Type_of_Visit__c}, &quot;Renewal - Full Review&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
ISPICKVAL([Inspection__c].Status__c , &quot;Closed&quot;),

OR(
TEXT([Inspection__c].Provider_No__c.Next_FCC_Renewal_Visit__c) = TEXT([Inspection__c].Type_of_Visit__c),
AND(
ISBLANK(TEXT([Inspection__c].Provider_No__r.Next_FCC_Renewal_Visit__c)),
CONTAINS(TEXT([Inspection__c].Type_of_Visit__c), &quot;Renewal&quot; ))
),
[Inspection__c].RecordType.Name = &quot;FCC Licensing Visit&quot;,
ISPICKVAL([Inspection__c].Type_of_Visit__c, &quot;Renewal - Enhanced Monitoring&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_2</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
ISPICKVAL({!myVariable_current.Status__c} , &quot;Closed&quot;),

OR(
TEXT({!myVariable_current.Provider_No__c.Next_FCC_Renewal_Visit__c}) = TEXT({!myVariable_current.Type_of_Visit__c}),
AND(
ISBLANK(TEXT({!myVariable_current.Provider_No__r.Next_FCC_Renewal_Visit__c})),
CONTAINS(TEXT({!myVariable_current.Type_of_Visit__c}), &quot;Renewal&quot; ))
),
{!myVariable_current.RecordType.Name} = &quot;FCC Licensing Visit&quot;,
ISPICKVAL({!myVariable_current.Type_of_Visit__c}, &quot;Renewal - Enhanced Monitoring&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
ISPICKVAL([Inspection__c].Status__c , &quot;Closed&quot;),

OR(
TEXT([Inspection__c].Provider_No__c.Next_FCC_Renewal_Visit__c) = TEXT([Inspection__c].Type_of_Visit__c),
AND(
ISBLANK(TEXT([Inspection__c].Provider_No__r.Next_FCC_Renewal_Visit__c)),
CONTAINS(TEXT([Inspection__c].Type_of_Visit__c), &quot;Renewal&quot; ))
),
[Inspection__c].RecordType.Name = &quot;FCC Licensing Visit&quot;,
ISPICKVAL([Inspection__c].Type_of_Visit__c, &quot;Renewal - Enhanced Monitoring&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_2_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
ISPICKVAL({!myVariable_old.Status__c} , &quot;Closed&quot;),

OR(
TEXT({!myVariable_old.Provider_No__c.Next_FCC_Renewal_Visit__c}) = TEXT({!myVariable_old.Type_of_Visit__c}),
AND(
ISBLANK(TEXT({!myVariable_old.Provider_No__r.Next_FCC_Renewal_Visit__c})),
CONTAINS(TEXT({!myVariable_old.Type_of_Visit__c}), &quot;Renewal&quot; ))
),
{!myVariable_old.RecordType.Name} = &quot;FCC Licensing Visit&quot;,
ISPICKVAL({!myVariable_old.Type_of_Visit__c}, &quot;Renewal - Enhanced Monitoring&quot;)
)</expression>
    </formulas>
    <interviewLabel>Visit_Update_Next_Renewal_Visit-7_Inspection__c</interviewLabel>
    <label>Visit Update Next Renewal Visit</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Inspection__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Inspection__c].Provider</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Next FCC Renewal Visit</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Provider_No__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Next FCC Renewal Visit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Next_FCC_Renewal_Visit__c</field>
            <value>
                <stringValue>Renewal - Enhanced Monitoring</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Inspection__c].Provider</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A1</name>
        <label>Update Next FCC Renewal Visit</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Provider_No__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Next FCC Renewal Visit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Next_FCC_Renewal_Visit__c</field>
            <value>
                <stringValue>Renewal - Full Review</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
